header {
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.header img {
  height: 7rem;
  width: auto;
}

nav {
  display: flex;
  justify-content: flex-start;
  background-color: #6c757d;
  color: white;
  width: 100%;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

nav ul li {
  max-width: 120px;
  width: 120px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

main {
  background-color: #f8f9fa;
}
.content {
  background-color: #e9ecef;
  display: flex;
  width: 100%;
}
footer {
  background-color: #343a40;
  color: white;
}
.header-images {
  height: 7rem;
  width: auto;
}

.game-images {
  height: 10rem;
  width: auto;
}

.sidebar-images {
  width: 10rem;
  height: auto;
  max-width: 100%;
}

img {
  transition: opacity 0.5s ease-in-out;
}

.quote-content {
  flex: 1;
  text-align: center;
}

.quote-container {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
}

.quote-container p {
  font-size: 15px;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
