header,
nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  color: white;
}

.header img {
  height: 7rem;
  width: auto;
}

.user-buttons {
  margin: 10px;
}

/* CSS */

button {
  align-items: center;
  border-radius: 10px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  max-width: 480px;
  min-height: 40px;
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
  transition: 0.2s;
  margin: 5px;
  border: none;
}

.profile-buttons button {
  display: grid;
}

button .invest-button,
.logout-button {
}

button:hover {
  background-color: #0c3870;
  color: #ffffff;
}

button:active {
  background-color: #092952;
}

.login-button {
  background-color: #ffffff;
  color: #0c3870;
  border: 2px solid #303ebc;
}

.registration-button,
.logout-button,
.invest-button {
  border: 0;
  background-color: #0a66c2;
}

.profile-button {
  border: 0;
  background-color: #0a66c2;
}

nav {
  background-color: #6c757d;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

nav ul li {
  max-width: 120px;
  width: 120px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

main {
}

footer {
  background-color: #343a40;
  color: white;
}
.header-images {
  height: 7rem;
  width: auto;
}

.game-images {
  height: 10rem;
  width: auto;
}

.sidebar-images {
  width: 10rem;
  height: auto;
  max-width: 100%;
}

img {
  transition: opacity 0.5s ease-in-out;
}

.quote-content {
  flex: 1;
  text-align: center;
}

.quote-container {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
}

.quote-container p {
  font-size: 15px;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
