header,
nav {
  width: 100%;
  max-width: 100%;
  display: flex;
  align-items: center;
  background-color: #f8f9fa;
  color: white;
}

.header img {
  height: 7rem;
  width: auto;
}

.user-buttons {
  margin: 10px;
}
/* Coinflip */

.container {
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.game-images {
  justify-self: center;
}

.bet-balance {
  justify-self: center;
}

/* CSS */

nav {
  background-color: #e7e7e7;
  border-radius: 10px;
}

nav ul {
  display: flex;
  list-style: none;
  text-decoration: none;
}

nav ul li {
  max-width: 120px;
  width: 120px;
  text-align: center;
}

nav ul li a {
  text-decoration: none;
  color: #333;
  font-size: 1rem;
}

footer {
  background-color: #343a40;
  color: white;
}
.header-images {
  height: 7rem;
  width: auto;
}

.game-images {
  height: 10rem;
  width: auto;
}

.sidebar-images {
  width: 10rem;
  height: auto;
  max-width: 100%;
}

img {
  transition: opacity 0.5s ease-in-out;
}

.quote-content {
  flex: 1;
  text-align: center;
}

.quote-container {
  text-align: center;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
  transition: opacity 0.5s ease-in-out;
}

.quote-container p {
  font-size: 15px;
}

.fade-in {
  opacity: 1;
}

.fade-out {
  opacity: 0;
}
